html{
    height: 100%;
}

body{
    background-color: rgb(75, 73, 73);
    background-image: url(./static/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    margin: auto;
    width: 1024px;
}

header{
    height: 118px;
    text-align: center;
}

nav{
    background-color:rgba(0, 0, 0, 0.308);
    text-align: center;
    padding: 14px;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 13px;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.555);
    cursor: pointer;
    padding:15px;
    transition: ease-in-out;
}

main{
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

h1{
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding:10px 40px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    background: transparent;
    cursor: pointer;
    color: white;
}

footer{
    background-color:rgba(0, 0, 0, 0.555);
    text-align: center;
    padding: 15px;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 0 10px;
    color: rgb(194, 188, 188);
}


